.ShopDetails {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.shopImage {
  flex-shrink: 0;
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.shopInfo {
  margin-right: auto;
}

.capitalized {
  text-transform: capitalize;
}