.Category {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5rem .5rem 0;
  margin: 0.25rem;
}

.Category summary {
  font-weight: bold;
  margin: -.5rem -.5rem 0;
  padding: .5rem;
}

.Category[open] {
  padding: .5rem;
}

.Category[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5rem;
}

.shopCount {
  font-weight: normal;
  color: #333;
}